@use "base" as b;

/* LAYOUTS*/
.container {
  width: 95%;
  margin: 0 auto;
}
//------Alert-------

//------header-------

//------Navigation-------

.navbar {
  height: b.$height-header;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav {
    display: none;

    &__container {
      display: flex;
      align-items: center;
    }

    .fa {
      font-size: 4px;
    }

    &__input,
    &__btn {
      border: 1px solid #ccc;
    }

    &__input {
      width: b.$sp-3 * 18;
      height: b.$sp-2 * 1.8;
      border-right: none;
    }

    &__btn {
      width: b.$sp-1-25 * 6;
      height: b.$sp-2 * 1.8;
      background-color: #f8f8f8;
      margin-left: b.$sp-1-25;
      border-left: none;
    }

    &__input--microphone {
      margin: 0 b.$sp-0-75;
      background-color: #f8f8f8;
    }

    &__user {
      display: flex;
      align-items: center;
      gap: b.$sp-1-25 * 2;

      .fa-bell {
        position: relative;
      }
      .fa-layers-counter {
        position: absolute;
        top: b.$sp-0-75 * -2;
        left: b.$sp-0-75;
        color: white;
        background-color: red;
        padding: 3px;
        border-radius: 50%;
        font-size: b.font-size(smaller) * 0.75;
      }
    }

    &__user-image {
      height: b.$sp-1-25 * 2;
      border-radius: 50%;
    }
  }
  .site-logo {
    display: inline-block;
    padding-left: b.$sp-1-25 * 2;
    height: b.$sp-1-25 * 2;
  }
}
//------Main-------
.content-container {
  width: 80%;
  margin: 0 auto;
  padding: b.$sp-1-25 * 2 0;
}
//---Section= Section_Name----

//------Aside-------

//------Footer-------
